In [ ]:
display(spark.read.table("advancinglake.dbt_cloud.jaffle_shop_customers"))

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

DataFrame[ID: bigint, FIRST_NAME: string, LAST_NAME: string]

'advancinglake.dbt_cloud.jaffle_shop_customers'

In [7]:
%sql
SELECT game_id, frame_id, pos, key, value:object::string, value:x1_position::int, value:x2_position, value
from
  advancinglake.hackathon.silver_foosball_events as tracking_data, LATERAL variant_explode(tracking_data.tracking)
  WHERE game_id = 'GX011282' AND
--  frame_id = 0 AND
  value:object::string = 'Player2' AND
  value:x1_position::int >= 900
order by
  frame_id, pos, value:object::string asc

HBox(children=(IntProgress(value=0, bar_style='success'), Label(value='')))

DataFrame[game_id: string, frame_id: int, pos: int, key: string, object: string, x1_position: int, x2_position: variant, value: variant]